<p style="color: green"><%= notice %></p>
<%= link_to "Escribir nuevo artículo", new_article_path %>
<p><%= @articles.count %> artículos escritos </p>

<h1>Artículos</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= article.title %>
    <p>
      <%= link_to "Ver", article %>
    </p>
  <% end %>
</div>

<%= link_to "Atrás", root_path %>
