<p style="color: green"><%= notice %></p>

<h1>
  <center> <%= @article.title%> </center>
</h1>

<% unless @article.photo.key.nil?%>
  <%= cl_image_tag @article.photo.key, class: "card-trip" %>
<% end%>

<%= render @article %>


<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Volver atrás", root_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
